.dart_tool/
.idea/
.packages
.pub-cache/
.pub/
build/
coverage/
doc/api/
ios/Frameworks/
ios/.tmp-rln-swift/
ios/RGBLightningNode.xcframework/
ios/RGBLightningNode.swift
ios/RGBLightningNodeFFI.h
ios/RGBLightningNodeFFI.modulemap
ios/rgb-lightning-node-swift.zip
android/.gradle/
android/build/
example/build/
*.iml
*.log
tool/regtest/data/
